<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <span>Rent Referral is a peer-to-peer rent finder</span>
    </div>
    <div class="row justify-content-center mt-5">
      <span>If you rent and your property offers bonuses for referrals post it here, and split the rewards!</span>
    </div>
    <div class="row justify-content-center mt-5">
      <span>Looking for a place? Head to search and see if any properties are listed in your area.</span>
    </div>
  </div>  
<%- include('partials/footer') -%>