<%- include('partials/header', {user: user}) -%>

<main class="container">
    <div class="flex justify-center mt-5">
        <img src="https://www.freeiconspng.com/uploads/apartment-icon-13.png" width="350" alt="Svg Apartment Free" />
        <div>
            <p>Renting in a new area can be stressful. So many options, price points, ammenities and incentives. RentReferral is designed to make the process simpler.</p>
            <p>Many apartment complexes offer referral bonuses to residents that refer new residents to the complex. RentReferral aims to connect potential renters with current residents so that they can split the benefits.</p>
        </div>
    </div>
    <!-- <div class="flex justify-center">
        <span>Instructions:</span>
    </div> -->
    <!-- <div class="flex justify-center">
        <ul>
            <li>
                <div>1. Create an account or signup</div>
            </li>
            <li>
                <div>2. If you're a renter you can post your apartment information if it offers a referral bonus</div>
            </li>
            <li>
                <div>3. Potential renters can search by zipcode</div>
            </li>
        </ul>
    </div> -->
</main>
    

<%- include('partials/footer') -%>