<%- include('partials/header') -%>
    <main class="container">
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Signup Now!</h1>
            <p class="py-6">To start saving money and making money!</p>
          </div>
          <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <% if (locals.messages.errors) { %>
              <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <% if (locals.messages.info) { %>
              <% messages.info.forEach( el => { %>
                  <div class="alert alert-info"><%= el.msg %></div>
              <% }) %>    
          <% } %>
            <form action ="/signup" method="POST">
            <div class="card-body">
              <div class="form-control">
                <label for="username" class="label">
                  <span class="label-text">Username</span>
                </label>
                <input type="text" placeholder="username" class="input input-bordered" id="userName" name="userName"/>
              </div>
              <div for="userName" class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="text" placeholder="email" class="input input-bordered" aria-describedby="emailHelp" name="email"/>
              </div>
              <div class="form-control">
                <label for="password" class="label">
                  <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered" id="password" name="password"/>
              </div>
              <div class="form-control">
                <label for="confirmPassword" class="label">
                  <span class="label-text">Confirm Password</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered" id="confirmPassword" name="confirmPassword"/>
              </div>
              <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">signup</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </main>

<%- include('partials/footer') -%>